
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%; 
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05); 
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-logo img {
    height: 45px; 
    display: block;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #333333;
    font-weight: 500;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #49986b;
}

.btn-get-access {
    background-color: #49986b;
    color: white;
    padding: 10px 22px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    transition: background 0.3s ease;

}

.btn-get-access:hover {
    background-color: #3d7e59;
}

